<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">
<!-- HEAD -->
<head>

  <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  <script src="/webjars/jquery/jquery.min.js"></script>
  <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
  <script th:src="@{headerScript.js}" type="module"></script>
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi"/>
  <meta charset="UTF-8"/>
  <title>MusikalNet - Contact</title>

</head>

<!-- BODY -->

<body>
<!-- CONTAINER DIV -->
<div id="container">

  <!-- HEADDER, controlled with Fragment -->
  <header>
  </header>
  <!-- HEAD & NAV END -->

  <!-- MAIN -->
  <main>

    <!-- mainDiv -->
    <div class="mainDiv" id="mainDivId">
      <!-- divsWithContent -->
      <div class="divsWithContent">
        <!-- Actual Content -->
        <div class="actualContent">
          <div class="divsWithText">
            <!-- Section -->
            <section>
              <h2>Contact:</h2>
              <h3>Detaljer</h3>
              <h4>2019-12-02</h4>
              <p>Jonathan Harr</p>
              <p>jonathan.harr92@gmail.com</p>
              <p>0707379181</p>
            </section>

          </div>
          <!-- Divs with Text End -->
        </div>
        <!-- Actual Content End -->
      </div>
      <!-- Divs With Content End -->
      <!-- MainDiv End -->

    </div>

  </main>
  <!-- MAIN END -->


  <!-- FOOTER -->
  <footer>

  </footer>

</div>
</body>

</html>