<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calculator - Jonathan Harr</title>
<!--    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />-->
<!--    <script th:src="@{buttondialer.js}" type="module"></script>-->
<!--    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">-->
</head>
<body>

<header></header>

<!--  Video Background  -->
<div id="videoDivBackground"></div>

<div id="container">
    <div id="calculatorDivWrapper">
        <div id="calculatorDiv">
            <h1>Calculator Application</h1>
            <img alt="lol" height="370" width="370" src="img/album/promo-authentic.jpg"/>
            <!-- Form Ends -->
        </div>
        <!-- calculatorDiv ends-->
    </div>

    <footer id = "footer" >
        <p>Coded by some junior Coder. (Launch me)</p>
    </footer>

</div>
</body>