<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator - Jonathan Harr</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
<!--    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />-->
    <script th:src="@{fetch.js}" type="module"></script>
<!--    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">-->
</head>
<script th:inline="javascript">

    $(document).ready(function (){
        console.log("hello?");
    })
</script>
<body>

<header></header>

<!--  Video Background  -->
<div id="videoDivBackground"></div>

<div id="container">
    <div id="calculatorDivWrapper">
        <div id="calculatorDiv">
            <h1>Calculator Application</h1>
            <img alt="lol" height="370" width="370" src="img/album/promo-authentic.jpg"/>
            <!-- Form Ends -->
        </div>
        <!-- calculatorDiv ends-->
    </div>

    <footer id = "footer" >
        <p>Coded by some junior Coder. (Launch me)</p>
    </footer>

</div>
</body>